@media (max-width: 1000px) {
  .students {
    .gutter-sizer {
      width: 3%;
    }
    .packery-item{
      width: 31.3%;
    }
  }
}
@media (max-width: 750px) {
  .header {
    padding: 50px 0 40px;
    .menu-bar .icons, .menu-bar .menu {
      float: none;
      margin-top: 20px;
    }
  }
  .students {
    .gutter-sizer {
      width: 3%;
    }
    .packery-item{
      width: 48.5%;
    }
  }
}
@media (max-width: 550px) {
  .logo {
    display: none;
  }
  .logo-narrow {
    display: block;
  }
  .students {
    .gutter-sizer {
      width: 5%;
    }
    .packery-item{
      width: 100%;
    }
  }
}
