@media (max-width: 1000px) {
  .students {
    .gutter-sizer {
      width: 3%;
    }
    .packery-item{
      width: 31.3%;
    }
  }
}
@media (max-width: 750px) {
  .header {
    padding: 50px 30px 40px 30px;
    .menu-bar .icons, .menu-bar .menu {
      float: none;
    }
    .menu-bar .menu {
      margin-bottom: 20px;
    }
    .logo-container {
      .mask {
        height: 300px;
        -webkit-mask: url(../images/mask-narrower.svg), url(../images/mask-top.svg), url(../images/mask-bottom.svg);
        -webkit-mask-position: center center, top center, bottom center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain, auto, auto;
        #keywords {
          // font-size: 18px;
        }
      }
    }
  }
  .students {
    .gutter-sizer {
      width: 3%;
    }
    .packery-item{
      width: 48.5%;
    }
  }
  #keywords {
    font-size: 12px;
  }
}
// Adding another two masks to compensate for the SD16 SVG height
@media (max-width: 690px) {
  .logo-container {
    .mask {
      height: 300px;
      -webkit-mask: url(../images/mask-narrower.svg), url(../images/mask-top.svg), url(../images/mask-bottom.svg);
      -webkit-mask-position: center center, top center, bottom center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain, 132% auto, 132% auto;
      #keywords {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 550px) {
  .logo-container {
    .mask {
      -webkit-mask: url(../images/mask-square.svg) center center no-repeat;
      -webkit-mask-size: contain;
      p#keywords {
        font-size: 10px;
      }
    }

  }
  .students {
    .gutter-sizer {
      width: 5%;
    }
    .packery-item{
      width: 100%;
    }
  }
}
@media (max-width: 375px) {
  .logo-container {
    .mask {
      -webkit-mask-size: cover;
    }
  }
}
