// Imports
@import "reset";
@import "fonts";
@import "functions";
@import "better-underline";

// Colours

$body-text: black;
$box-text: black;
// $body-background: #398AB7;
$body-background: white;

// Typography
p,
a,
strong {
  font: 18px 'Roboto', sans-serif;
  font-weight: 300;
  &::selection {
    background-color: black;
    color: white;
    text-shadow: none;
  }
}
strong {
  font-weight: 500;
}
a,
a:visited {
  color: $body-text;
  font-weight: 400;
}
a.no-underline {
  text-decoration: none;
}

//
body {
  color: $body-text;
  background: $body-background;
}

// Header
.logo-container {
  padding: 40px 30px 35px 30px;
  width: 100%;
  background: #398AB7;
  .mask {
    display: block;
    text-align: justify;
    max-width: 1000px;
    height: 265px;
    margin: 0 auto;
    color: white;
    overflow: hidden;
    -webkit-mask: url(../images/mask.svg) center center no-repeat;
    -webkit-mask-size: cover;
    // background-size: contain;
    // -webkit-mask-composite:
    // -webkit-mask: url(../images/mask.svg) top center no-repeat;
    p#keywords {
      font-size: 20px;
      a {
        color: white;
      }
    }
  }
}
.header {
  padding: 30px 30px;
  margin: 0 auto;
  max-width: 1060px;
  .about-short p {
    max-width: 700px;
    margin-bottom: 10px;
  }
  .about-short p,
  .about-short a,
  .about-short strong {
    font-size: 20px;
    line-height: 29px;
  }
  p a {
    // @include better-underline(black);
  }
}
.logo,
.logo-narrow {
  display: block;
  margin-bottom: 35px;
  img {
    display: block;
  }
}
.logo-narrow {
  display: none;
}
.menu-bar {
  .icons {
    float: right;
    a {
      display: block;
      margin-right: 10px;
      img {
        display: block;
        width: 68px;
        height: 68px;
      }
    }
  }
  .menu {
    float: left;
    display: table;
    li {
      float: left;
      margin-right: 18px;
      &.active div {
        border: 1px dashed $body-text;
        padding: 0 18px;
      }
    }
    div {
      height: 67px;
      border: 1px solid transparent;
    }
    a {
      font-size: 24px;
      padding-top: 16px;
      text-decoration: none;
    }
  }
  a {
    display: block;
    float: left;
  }
  a:hover {
    opacity: 0.7;
  }
}
.select-course {
  margin: 20px auto 0;
  a {
    padding: 10px 15px;
    float: left;
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 22px;
  }
  a + a {
    float: right;
  }
}

// Students
.students-outer {
  padding: 0 30px;
  max-width: 1060px;
  margin: 0 auto;
}
.students {
  .gutter-sizer {
    width: 3%;
  }
  .student,
  .article,
  .photo {
    width: 22.75%;
    border: 1px dashed #000;
    position: relative;
    overflow: hidden;
    color: $box-text;
    > a {
      &:hover img {
        filter:brightness(110%);
      }
      &:hover + .description a.web {
        &::after {
          opacity: 1;
          right: 42px;
          transition: all 0.2s ease-in-out;
        }
        padding-right: 52px;
        transition: all 0.3s ease-in-out;
      }
      img {
        display: block;
        transition: all 0.2s ease-in-out;
      }
    }
    .description,
    .heading {
      h2 {
        font: 400 24px 'Roboto', sans-serif;
        margin: 5px 0;
      }
      padding: 10px 15px 15px;
      background: #fff;
    }
    .heading {
      display: block;
      background: black;
      color: white;
      text-decoration: none;
    }
    .web a {
      position: relative;
      display: inline-block;
      padding: 10px 15px;
      margin: 15px 0 5px;
      border: 1px dashed #000;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      transition: all 0.2s ease-in-out;
      &:hover {
        letter-spacing: 5px;
        color: #FFF;
        background: #000;
        border-color: #FFF;
        transition: all 0.3s ease-in-out;
      }
    }
    a.twitter,
    a.linkedin {
      display: inline-block;
      padding: 11px 15px 8px;
      margin: 15px 10px 5px 0;
      border: 1px dashed #000;
      img {
        width: 20px;
        height: auto;
      }
      &:hover {
        img {
          filter:invert(100%);
          transform: rotate(360deg);
          transition: all 0.3s ease-in-out;
        }
        background: #000;
        border-color: #FFF;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// Responsivity
@import "responsivity";
