/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:

  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
  don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

::-moz-placeholder {
  opacity: 1 !important;
}

::-webkit-input-placeholder {
  opacity: 1 !important;
}

p,
a,
strong {
  font: 18px 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}
p::-moz-selection,
a::-moz-selection,
strong::-moz-selection {
  background-color: black;
  color: white;
  text-shadow: none;
}
p::selection,
a::selection,
strong::selection {
  background-color: black;
  color: white;
  text-shadow: none;
}

strong {
  font-weight: 500;
}

a,
a:visited {
  color: black;
  font-weight: 400;
}

a.no-underline {
  text-decoration: none;
}

body {
  color: black;
  background: white;
}

.logo-container {
  padding: 40px 30px 35px 30px;
  margin: 0 auto;
  max-width: 1060px;
  background: white;
}
.logo-container .intro {
  padding-bottom: 10px;
}
.logo-container .outro {
  padding-top: 10px;
  float: right;
}
.logo-container .mask {
  display: block;
  text-align: justify;
  max-width: 1000px;
  height: 265px;
  margin: 0 auto;
  color: white;
  overflow: hidden;
  -webkit-mask: url(../images/mask.svg) center center no-repeat;
  -webkit-mask-size: cover;
}
.logo-container .mask p#keywords, .logo-container .mask p#keywords a {
  font-size: 18px;
  color: black;
  font-weight: 300;
  color: black;
  text-decoration: none;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25) 0%, black 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25) 0%, black 100%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 95%;
  text-shadow: 1px 0 white, -1px 0 white;
}
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
  .logo-container .mask p#keywords, .logo-container .mask p#keywords a {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25) 0%, black 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25) 0%, black 100%);
    background-position: 0 93%;
  }
}
.logo-container .mask p#keywords:hover, .logo-container .mask p#keywords a:hover {
  text-shadow: 0 0 black;
  background-image: -webkit-linear-gradient(top, black 0%, black 100%);
  background-image: linear-gradient(to bottom, black 0%, black 100%);
  background-size: 1px 1.5px;
}
.logo-container .mask p#keywords::-moz-selection,
.logo-container .mask p#keywords > *::-moz-selection, .logo-container .mask p#keywords a::-moz-selection,
.logo-container .mask p#keywords a > *::-moz-selection {
  background-color: black;
  background-image: linear-gradient(white 0%, white 100%);
  text-shadow: 0 0 black;
  color: white;
  text-shadow: none;
}
.logo-container .mask p#keywords::selection,
.logo-container .mask p#keywords > *::selection, .logo-container .mask p#keywords a::selection,
.logo-container .mask p#keywords a > *::selection {
  background-color: black;
  background-image: -webkit-linear-gradient(white 0%, white 100%);
  background-image: linear-gradient(white 0%, white 100%);
  text-shadow: 0 0 black;
  color: white;
  text-shadow: none;
}
.logo-container .mask p#keywords::-moz-selection,
.logo-container .mask p#keywords > *::-moz-selection, .logo-container .mask p#keywords a::-moz-selection,
.logo-container .mask p#keywords a > *::-moz-selection {
  background-color: black;
  color: white;
  text-shadow: none;
}

.header {
  padding: 0px 30px 30px 30px;
  margin: 0 auto;
  max-width: 1060px;
}
.header .about-short p {
  max-width: 700px;
  margin-bottom: 10px;
}
.header .about-short p,
.header .about-short a,
.header .about-short strong {
  font-size: 20px;
  line-height: 29px;
}

.logo,
.logo-narrow {
  display: block;
  margin-bottom: 35px;
}
.logo img,
.logo-narrow img {
  display: block;
}

.logo-narrow {
  display: none;
}

.menu-bar .icons {
  float: right;
}
.menu-bar .icons a {
  display: block;
  margin-left: 10px;
}
.menu-bar .icons a:first-child {
  margin-left: 0;
}
.menu-bar .icons a img {
  display: block;
  width: 68px;
  height: 68px;
}
.menu-bar .menu {
  float: left;
  display: table;
}
.menu-bar .menu li {
  float: left;
  margin-right: 18px;
}
.menu-bar .menu li.active div {
  border: 1px dashed black;
  padding: 0 18px;
}
.menu-bar .menu div {
  height: 67px;
  border: 1px solid transparent;
}
.menu-bar .menu a {
  font-size: 24px;
  padding-top: 16px;
  text-decoration: none;
}
.menu-bar a {
  display: block;
  float: left;
}
.menu-bar a:hover {
  opacity: 0.7;
}

.select-course {
  margin: 20px auto 0;
}
.select-course a {
  padding: 10px 15px;
  float: left;
  display: inline-block;
  background: #000;
  color: #fff;
  font-size: 22px;
}
.select-course a + a {
  float: right;
}

.students-outer {
  padding: 0 30px 30px 30px;
  max-width: 1060px;
  margin: 0 auto;
}

.students .gutter-sizer {
  width: 3%;
}
.students .student,
.students .article,
.students .photo {
  width: 22.75%;
  border: 1px dashed black;
  position: relative;
  overflow: hidden;
  color: black;
}
.students .student > a:hover img,
.students .article > a:hover img,
.students .photo > a:hover img {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}
.students .student > a:hover + .description a.web,
.students .article > a:hover + .description a.web,
.students .photo > a:hover + .description a.web {
  padding-right: 52px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.students .student > a:hover + .description a.web::after,
.students .article > a:hover + .description a.web::after,
.students .photo > a:hover + .description a.web::after {
  opacity: 1;
  right: 42px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.students .student > a img,
.students .article > a img,
.students .photo > a img {
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.students .student .description,
.students .student .heading,
.students .article .description,
.students .article .heading,
.students .photo .description,
.students .photo .heading {
  padding: 10px 15px 15px;
  background: #fff;
}
.students .student .description h2,
.students .student .heading h2,
.students .article .description h2,
.students .article .heading h2,
.students .photo .description h2,
.students .photo .heading h2 {
  font: 400 24px 'Roboto', sans-serif;
  margin: 5px 0;
}
.students .student .heading,
.students .article .heading,
.students .photo .heading {
  display: block;
  background: black;
  text-decoration: none;
}
.students .student .heading p, .students .student .heading h2,
.students .article .heading p,
.students .article .heading h2,
.students .photo .heading p,
.students .photo .heading h2 {
  color: white;
}
.students .student .web a,
.students .article .web a,
.students .photo .web a {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  margin: 15px 0 5px;
  border: 1px dashed #000;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.students .student .web a:hover,
.students .article .web a:hover,
.students .photo .web a:hover {
  letter-spacing: 5px;
  color: #FFF;
  background: #000;
  border-color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.students .student a.twitter,
.students .student a.linkedin,
.students .article a.twitter,
.students .article a.linkedin,
.students .photo a.twitter,
.students .photo a.linkedin {
  display: inline-block;
  padding: 11px 15px 8px;
  margin: 15px 10px 5px 0;
  border: 1px dashed #000;
}
.students .student a.twitter img,
.students .student a.linkedin img,
.students .article a.twitter img,
.students .article a.linkedin img,
.students .photo a.twitter img,
.students .photo a.linkedin img {
  width: 20px;
  height: auto;
}
.students .student a.twitter:hover,
.students .student a.linkedin:hover,
.students .article a.twitter:hover,
.students .article a.linkedin:hover,
.students .photo a.twitter:hover,
.students .photo a.linkedin:hover {
  background: #000;
  border-color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.students .student a.twitter:hover img,
.students .student a.linkedin:hover img,
.students .article a.twitter:hover img,
.students .article a.linkedin:hover img,
.students .photo a.twitter:hover img,
.students .photo a.linkedin:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .students .gutter-sizer {
    width: 3%;
  }
  .students .packery-item {
    width: 31.3%;
  }
}
@media (max-width: 750px) {
  .header {
    padding: 50px 30px 40px 30px;
  }
  .header .menu-bar .icons, .header .menu-bar .menu {
    float: none;
  }
  .header .menu-bar .menu {
    margin-bottom: 20px;
  }
  .header .logo-container .mask {
    height: 300px;
    -webkit-mask: url(../images/mask-narrower.svg), url(../images/mask-top.svg), url(../images/mask-bottom.svg);
    -webkit-mask-position: center center, top center, bottom center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain, auto, auto;
  }

  .students .gutter-sizer {
    width: 3%;
  }
  .students .packery-item {
    width: 48.5%;
  }

  #keywords {
    font-size: 12px;
  }
}
@media (max-width: 690px) {
  .logo-container .mask {
    height: 300px;
    -webkit-mask: url(../images/mask-narrower.svg), url(../images/mask-top.svg), url(../images/mask-bottom.svg);
    -webkit-mask-position: center center, top center, bottom center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain, 132% auto, 132% auto;
  }
  .logo-container .mask #keywords {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .logo-container .mask {
    -webkit-mask: url(../images/mask-square.svg) center center no-repeat;
    -webkit-mask-size: contain;
  }
  .logo-container .mask p#keywords {
    font-size: 10px;
  }

  .students .gutter-sizer {
    width: 5%;
  }
  .students .packery-item {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .logo-container .mask {
    -webkit-mask-size: cover;
  }
}
